form{
  margin: 20px;
  justify-content: center;
  padding: 30px;
  border: 1px solid rgb(240, 243, 255);
  border-radius: 50px;
  text-align: center;
  background-color: rgb(240, 243, 255);
}
h2{
  color: #f3e9dc;
}

.dv {
  margin: 20px;
  font-size: x-large;
}

input {
  margin-left: 90px;
  padding: 10px;
  width: 500px;
  border-radius: 10px;
  border-color: antiquewhite;
}


.liste {
  list-style-type: none;
  text-align: center;
  font-size: large;
  margin: 10px;
}

.ajt {

  background-color: #4c2b08;
  border-radius: 8px;
  box-sizing: border-box;
  color: #f3e9dc;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 20px;
  font-weight: 600;
  padding: 16px;
  text-align: center;
  margin: 10px;
  width: 300px;
}
.ajt:hover {  
  background-color: #f3e9dc;
}
.link{
  text-decoration: none;
  color: #f3e9dc;
}
.link:hover{
  color: #4c2b08;
}

.button-3, .button-4  {
  appearance: none;
  background-color: #4c2b08;
  border-radius: 8px;
  width: 100px;
  color: #fff;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.table {
  font-size: x-large;
  margin: 20px;
  margin-left: 300px;
}

th,td {
  border-bottom: #f3e9dc;
  color: #f3e9dc;
  width: 250px;
}

.tab-cl {
  border-radius: 50px;
  background-color: #ab7743;
  margin: auto;
  border-radius: 8px;
}
