form{
  margin: 20px;
  justify-content: center;
  padding: 30px;
  border: 1px solid rgb(240, 243, 255);
  border-radius: 50px;
  text-align: center;
  background-color: rgb(240, 243, 255);
}

.dv {
  margin: 20px;
  font-size: x-large;
}

input {
  margin-left: 90px;
  padding: 10px;
  width: 500px;
  border-radius: 10px;
  border-color: antiquewhite;
}


.liste {
  list-style-type: none;
  text-align: center;
  font-size: large;
  margin: 10px;
}

.ajt {

  background-color: rgb(155, 168, 217);
  border: 1px solid rgb(155, 168, 217);
  border-radius: 6px;
  box-shadow: rgb(155, 168, 217, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  padding: 16px;
  text-align: center;
  margin: 10px;
  width: 300px;
}

.button-1 {
  background-color: rgb(155, 168, 217);
  border: 1px solid rgb(155, 168, 217);
  border-radius: 6px;
  box-shadow: rgb(155, 168, 217, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  padding: 16px;
  text-align: center;
  margin: 10px;
  width: 300px;
}

.button-3 {
  appearance: none;
  background-color: #5db677;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.button-4 {
  appearance: none;
  background-color: #e44848;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  cursor: pointer;
}


.table {
  font-size: x-large;
  margin: 20px;
  margin-left: 300px;
}

th {
  border-bottom: 1px solid #ddd;
}

td {
  border-bottom: 1px solid #ddd;
  width: 100px;
}

tr:hover {
  background-color: rgb(226, 230, 247);
}

.tab-cl {
  border: 1px solid rgb(240, 243, 255);
  border-radius: 50px;
  background-color: rgb(240, 243, 255);
  margin: auto;
}
.link{
  text-decoration: none;
  color: white;
}